.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.sidenavOpen {
  width: 250px;
}

.title {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;
  font-weight: bold;
  margin-bottom: 2rem;
}

.navParams {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  border-radius: 4px;
}

.link:hover {
  color: #f1f1f1;
  background-color: #333;
}

.active {
  color: #000;
  font-weight: 500;
  background-color: #d0d0d0;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: rgb(134, 130, 130);
  border: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 200;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
}

.hamburger:hover {
  background-color: #e0e0e0;
}
